---
import GameView from '@components/GameView.astro';
import Layout from '../layouts/Layout.astro';
export const prerender = true;
---

<Layout title='Hem'>
	<h1 class="title has-text-centered mt-4">Spel</h1>
	<div class="columns">
		<div class="column is-half">
			<GameView name="Shooter" imgUrl="https://cdn.datorkonsulterna.se/spel.png" link="/play-shooter" />
		</div>
		<div class="column is-half">
			<GameView name="Flappy" imgUrl="https://cdn.datorkonsulterna.se/spel.png" link="/play-flappy" />
		</div>
	</div>
</Layout>

<style lang="scss">
	img {
		width: 1000px;
		display: block;
	}
</style>