---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Hem'>
	<h1 class="title">Mitt roliga spel</h1>
	<div class="columns is-centered">
		<img src="img.png" class="image">
	</div>
	<div class="columns is-centered mt-1">
		<a href="/play">
			<button class="button is-link">
				Spela nu!
			</button>
		</a>
	</div>
</Layout>

<style lang="scss">
	img {
		background-color: gray;
		height: 500px;
		width: 1000px;
		display: block;
	}
</style>