---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Spela">
    <h1 class="has-text-centered title">Spelet</h1>
    <canvas></canvas>
    <p class="has-text-centered">Laddar...</p>
</Layout>
<script>

</script>