---
import Layout from '../layouts/Layout.astro';
export const prerender = true;
---

<Layout title='Hem'>
	<h1 class="title has-text-centered mt-4">Min roliga spelsida</h1>
	<div class="columns">
		<div class="column is-half">
			<div class="ml-4 mt-5">
				<p class="title is-size-4 mb-1">Vi är populära</p>
				<p>Vi har noggrant skapat våra spel som har spelats av miljontals personer</p>
				<p class="title is-size-4 mb-1 mt-4">Våra spel är bäst</p>
				<p>Vi har 100% nöjda spelare enligt våran <a href="/review">enkät</a>.</p>
			</div>
		</div>
		<div class="column is-half">
			<img src="https://cdn.datorkonsulterna.se/spel.png" class="image" alt="Bild på spelet">
		</div>
	</div>
	<div class="columns is-centered mt-1 mb-6 is-mobile">
		<a href="/games">
			<button class="button is-link">
				Spela!
			</button>
		</a>
	</div>
</Layout>

<style lang="scss">
	img {
		width: 1000px;
		display: block;
	}
</style>