<nav class="navbar is-info" role="navigation">
    <div class="navbar-brand">
        <a href="/topphemligt" class="navbar-item"><img alt="Ikon" src="https://cdn.datorkonsulterna.se/logo.svg" id="img" loading="eager" /></a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="theMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="theMenu">
        <div class="navbar-start">
            <a class="navbar-item" href="/games">
                Våra spel
            </a>
            <a class="navbar-item" href="/leaderboard">
                Leaderboard
            </a>
        </div>
    </div>
</div>
</nav>

<style type="scss">
    * {
        user-select: none;
    }
</style>

<script>
    const burgerMenuBtn = document.querySelector(".navbar-burger")! as HTMLAnchorElement;
    const theMenu = document.querySelector(".navbar-menu")! as HTMLDivElement;
    burgerMenuBtn.addEventListener("click", () => {
        theMenu.classList.toggle("is-active");
        burgerMenuBtn.classList.toggle("is-active");
    })
</script>