<nav class="navbar is-info" role="navigation">
    <div class="navbar-brand">
        <img alt="Ikon" src="https://cdn.datorkonsulterna.se/logo.svg" id="img" class="navbar-item" loading="eager" />
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/topphemligt">
                    Hem
                </a>
                <a class="navbar-item" href="/play">
                    Spela
                </a>
                <a class="navbar-item" href="/leaderboard">
                    Leaderboard
                </a>
            </div>
        </div>
    </div>
</nav>

<style type="scss">
    #img {
        height: var(--bulma-navbar-height);
        width: var(--bulma-navbar-height);
    }
</style>